body {
    height: 100vh;
    user-select: none;
}

#arc-container {
    max-width: 550px;
    width: 100%;
    padding: 10px;
}

#arc svg {
    width: 100%;
    height: auto;
    display: block;
}

#arc {
    background-image: url("../assets/infinite-spinner.svg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    /* Not true center muhaha */
}


#arc-text {
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}